include _programasBd.pug
include _invitadosBd.pug

-var paginas = ['Conferencia', 'Calendario', 'invitados', 'Reservaciones']

mixin cajaInvitado(nombre, apellido, imagen)
  .invitado(style=`background-image:url('${imagen}')`)
    p.invitado__nombre=`${nombre} ${apellido}`

mixin TitulosSeccion(titulo)
  .titulo
    h2=titulo

mixin cajaEvento(titulo, hora, fecha, instructor)
  .evento
    h2.evento__titulo=titulo
    .evento__detalles
      p 
        i(class="fas fa-clock evento__icono")
        span=hora
      p 
        i(class="fas fa-calendar evento__icono")
        span=fecha
      p 
        i(class="fas fa-user evento__icono")
        span=instructor

