include _programasBd.pug
include _invitadosBd.pug
include _contadorBd.pug
include _preciosBd.pug
include _testimonialesBd.pug

-var paginas = ['Conferencia', 'Calendario', 'invitados', 'Reservaciones']

mixin cajaInvitado(nombre, apellido, imagen)
  .invitado(style=`background-image:url('${imagen}')`)
    p.invitado__nombre=`${nombre} ${apellido}`

mixin TitulosSeccion(titulo)
  .titulo
    h2=titulo

mixin cajaEvento(titulo, hora, fecha, instructor)
  .evento
    h2.evento__titulo=titulo
    .evento__detalles
      p 
        i(class="fas fa-clock evento__icono")
        span=hora
      p 
        i(class="fas fa-calendar evento__icono")
        span=fecha
      p 
        i(class="fas fa-user evento__icono")
        span=instructor
mixin cajaContador(numero, tipo)
  .contador
    .contador__contenedor
      p.contador__numero=numero
      p.contador__tipo=tipo

mixin cajaPrecio(titulo, precio, beneficios)
  .precio
    .precio__contenedor
      p(class="precio__tipo")=titulo
      p.precio__cantidad  $#{precio}
      ul.precio__lista-beneficios
        each beneficio in beneficios
          li.precio__beneficio=beneficio
      .precio__boton-contenedor
        a(href="" class="boton precio__boton") comprar
mixin cajaTestimonial(comentario,imagen, nombre,puesto)
  .testimonio
    p.testimonio__comentario=comentario
    .testimonio__datos
      img(src=""+imagen, alt="Imagen de perfil" class="testimonio__foto")
      .testimonio__datos-personales
        p.testimonio__nombre=nombre
        p.testimonio__puesto=puesto